# ============================================================
#  .env.example — Copy file ini jadi .env lalu isi nilainya
#  JANGAN commit file .env ke Git!
# ============================================================

# Django
SECRET_KEY=ganti-dengan-string-random-minimal-50-karakter
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database MySQL
DB_NAME=db_peminjaman_alat
DB_USER=root
DB_PASSWORD=password_mysql_kamu
DB_HOST=localhost
DB_PORT=3306

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# QR Code
QR_CODE_DIR=media/qrcodes

# Denda default (Rp per hari)
DEFAULT_FINE_PER_DAY=5000
